# Dev-only tools for formatting, linting, testing, type checking

setuptools==78.1.0
-r requirements.in

# -------------------
# Formatters & Linters
# -------------------
black==24.1.0
isort==5.12.0
ruff==0.3.0
flake8==7.0.0

# -------------------
# Testing
# -------------------
pytest==8.3.5
pytest-cov==4.1.0
mongomock==4.3.0

# -------------------
# Pre-commit hooks
# -------------------
pre-commit==3.6.2

# -------------------
# Build / Packaging tools
# -------------------
pip-tools==7.4.1
build==1.2.2.post1

# -------------------
# Leave room here for more future dev-only tools
# -------------------
locust==2.34.0
faker==37.1.0