[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "flake8 app"
format = "sh -c 'black app && isort app'"

[packages]
flask = "==3.0.2"

[dev-packages]
black = "==24.1.0"
flake8 = "==7.0.0"
isort = "==5.12.0"

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
