[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
install-dev = "pip install --no-build-isolation --use-pep517 'git+https://github.com/closeio/flask-mongoengine.git@master'"
lint = "flake8 app"
format = "sh -c 'black app && isort app'"

[packages]
flask = "==3.0.2"
python-dotenv = "*"
dnspython = "*"
mongoengine = "*"
flask-mongoengine = {git = "https://github.com/closeio/flask-mongoengine.git", ref = "master", subdirectory = ".", extras = [], editable = false}
gunicorn = "*"


[dev-packages]
black = "==24.1.0"
flake8 = "==7.0.0"
isort = "==5.12.0"
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11"
